        <div id="bookmarkDialog" class='window'>
            <div class='close'>Cancel</div>
            <form>
                <fieldset>
                    <legend>Bookmark</legend>
                    <p><label>URL</label><input type="text" id="url" /></p>
                    <p><label>Title</label><input type="text" id="title" /></p>
                    <p><label>Description</label><textarea id="description" ></textarea></p>
                    <p><label>Tags</label><input type="text" id="tags" /></p>
                    <p><button id="saveBt">Save</button><button id="deleteBt">Delete</button></p>
                </fieldset>
            </form>
        </div>
