        <div id="loginDialog" class="window">
            <div class='close'>Cancel</div>
            <form>
                <fieldset>
                    <legend>Login/SignUp</legend>
                    <p><label>User</label><input type="text" id="username" /></p>
                    <p><label>Password</label><input type="password" id="password" /></p>
                    <p><button id="loginBt">Login</button><button id="signupBt">Sign up</button></p>
                </fieldset>
            </form>
        </div>
