    <div id="content" class="tabs">
        <section id="recent" class="current">
            <h3>New Pudims</h3>
            <div><h4>Bookmarks recently added</h4><div></div></div>
        </section>
        <section id="top">
            <h3>Top Top</h3>
            <div><h4>Top saved bookmarks</h4><div></div></div>
        </section>
        <section id="tag">
            <h3><span>Tagged: </span><span id='tagged'>-</span></h3>
            <div><h4>Tag search</h4><div></div></div>
        </section>
        <section id="user">
            <h3><span>User: </span><span id='userid'>-</span></h3>
            <div><h4>User search</h4><div></div></div>
        </section>
        <section id="your">
            <h3>Your Stuff</h3>
            <div><h4>Your Bookmarks</h4><button id="addBt">Add bookmark</button><button id="logoutBt">Logout</button><div></div></div>
        </section>
    </div>
